[submodule "config"]
	path = config
	url = git@github.com:georchestra/datadir.git
	branch = docker-master
[submodule "resources/static"]
	path = resources/static
	url = git@github.com:georchestra/htdocs.git
	branch = master
