**/.project
**/.classpath
**/.settings
.idea/
*.iml
*~

# ignore the .env file so we can specify environment variables that are
# not pushed to github
.env
.envs-*
# ignore the certs files automatically downloaded on docker-compose up
resources/caddy/*
!resources/caddy/README.md