[submodule "config"]
	path = config
	url = https://github.com/georchestra/datadir.git
	branch = docker-25.0
[submodule "resources/static"]
	path = resources/static
	url = https://github.com/georchestra/htdocs.git
	branch = master
